<div class="background-color mt-6 p-4 text-center">
  <label class="pt-3"
    >Add Cover

    <input
      #file
      type="file"
      accept=".png,.jpeg,.jpg"
      name="image"
      id="img"
      style="display: none"
      (change)="onBasicUpload(file.files)"
    />
  </label>
  <img *ngIf="url" [src]="url" style="width: 12.5rem; height: 6.5rem" />
</div>
<div class="mt-3 background-color p-5 text-center" id="title">
  <h1>
    <input
      class="text-center"
      type="text"
      pInputText
      [placeholder]="'Type your Title'"
      [(ngModel)]="partTitle"
    />
  </h1>
</div>
<div>
  <div class="mt-3 min-height background-color p-5 text-center" id="content">
    <p>
      <textarea
        [rows]="5"
        [cols]="30"
        id="text-0"
        placeholder="Write your story here...  "
        pInputTextarea
        [(ngModel)]="partDescription0"
        (keyup)="onPressEnter($event)"
        [autoResize]="true"
      ></textarea>
    </p>
  </div>
</div>
<div class="p-3 text-right">
  <p-button class="cancel-button" label="Cancel"></p-button>&nbsp;
  &nbsp;<p-button
    class="next-button"
    label="&nbsp;Publish&nbsp;"
    (click)="newPart()"
  ></p-button>
</div>

<p-dialog header="Title" [(visible)]="successPart">
  Part has been sucessfully published. Go to home.
  <p-button
    icon="pi pi-check"
    (click)="goToHome()"
    (onHide)="goToHome()"
    label="Ok"
    styleClass="p-button-text"
  ></p-button>
</p-dialog>
