<p-dialog
  [header]="header"
  [(visible)]="loginUser"
  [modal]="true"
  [style]="{ width: '30rem' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onHideDialog()"
>
  <div class="grid">
    <div *ngIf="loginText === 'SignUp'" class="col-12">
      <div>Username:</div>
      <input
        class="input-text"
        placeholder="Enter your Username"
        type="text"
        pInputText
        [(ngModel)]="username"
      />
    </div>

    <div class="col-12">
      <div>Email ID:</div>
      <input
        class="input-text"
        placeholder="Enter your Email"
        type="email"
        pInputText
        [(ngModel)]="email"
      />
    </div>
    <div class="col-12">
      <div>Password:</div>
      <input
        class="input-text"
        placeholder="Enter your Password"
        type="password"
        pInputText
        [(ngModel)]="password"
      />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-sign-in"
      (click)="login()"
      [label]="loginText"
      styleClass="p-button-text"
    ></p-button>

    <div class="helper-section">
      <span class="helper-text">{{ userText }}</span>
      <span (click)="onClick()" class="helper-link">{{ Isuser }}</span>
    </div>
  </ng-template>
</p-dialog>
