.gap {
  gap: 1rem;
}
.pointer {
  cursor: pointer;
  :hover {
    color: #0c7494;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.table-content {
  font-weight: bolder;
  font-size: 1.5rem;
}
.tag-style {
  background: #74747457;
  padding: 0.3rem 1rem;
  border-radius: 21px;
  margin-right: 0.5rem;
}
.username {
  color: #0c7494;
}
