.main-section {
  text-align: center;
  padding: 2rem 0 0 0;
  &-text {
    color: #0c7494;
    padding: 5rem 0 2rem 0;
    font-size: 2.5rem;
    line-height: 1.9;
    transform: scale(0.9, 1);
    letter-spacing: 1px;
  }
  &-sub-text {
    font-size: 1.125rem;
    line-height: 1.75;
    color: rgb(0, 0, 0, 0.7);
    letter-spacing: 1px;
    padding-bottom: 7rem;
  }
}
.story-intro {
  background-color: rgba(240, 240, 240);
  text-align: center;
}
.img-story {
  width: 26.625rem;
  height: 18.75rem;
}
.story-title {
  font-size: 1.3rem;
  color: #0c7494;
  padding: 3rem 0;
  letter-spacing: 1px;
  transform: scale(0.9, 1);
}
.story-description {
  font-size: 1.1rem;
  padding-bottom: 3rem;
  color: rgb(0, 0, 0, 0.7);
}
