.about-headning {
  background-image: url("../../../assets/images/About-page.png");
  width: 84rem;
  height: 34.3rem;
  background-size: cover;
  margin: 5rem 0;
}
.about-text {
  text-align: center;
  padding-top: 16rem;
  color: #fff;
  font-size: 2.5rem;
}
.about-sub-text {
  text-align: center;
  color: rgba(0, 0, 0);
  padding-bottom: 7rem;
}
.about-sub-section {
  padding-top: 3rem;
}
.about-lines {
  padding-bottom: 0.45rem;
}
