<div class="about-section">
  <div class="about-headning">
    <div class="about-text">ABOUT US</div>
  </div>
</div>
<div class="about-sub-text">
  <div class="about-sub-section">A Publishing Success Story</div>
  <div class="about-sub-section">
    <div class="about-lines">
      YourStory is a trusted Book Publisher with an impressive list of talented
      authors. While we started out as a traditional
    </div>
    <div class="about-lines">
      Book Publisher, we’ve evolved to keep up with current trends in publishing
      and now offer many of our works in digital
    </div>
    <div class="about-lines">and audio formats.</div>
  </div>
  <div class="about-sub-section">
    <div class="about-lines">
      We especially pride ourselves on the strong relationships we have with
      both authors and literary agents. These
    </div>
    <div class="about-lines">
      important elements are why we consistently manage to publish such
      high-quality and popular books. Contact us to
    </div>
    <div class="about-lines">find out more.</div>
  </div>
</div>
